In [1]:
import numpy as np
import matplotlib.pyplot as plt
import time
import pandas as pd
import sys

import torch
import torch.nn as nn

from torchmetrics import MeanAbsolutePercentageError

from data.passenger import get_passenger_data
from data.gold import get_gold_data

In [2]:
n = np.linspace(0,10,5)
n

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [3]:
t = torch.linspace(0,10,5)
t

tensor([ 0.0000,  2.5000,  5.0000,  7.5000, 10.0000])

In [4]:
gold_data = get_gold_data()
passenger_data = get_passenger_data()

In [6]:
#gold_data.head()
passenger_data.head(2)

      Date  Passengers
0  1949-01         112
1  1949-02         118